build
build-debug
.cache
.DS_Store
CLAUDE.md
subprojects/.wraplock
subprojects/argparse-3.2/
subprojects/smith_normal_form/
subprojects/googletest-1.17.0/
subprojects/nlohmann_json-3.11.3/
subprojects/packagecache/
